body {
	max-width: 800px;
	max-height: 600px;
	padding: 1rem 0.5rem;
	margin: 0;
	overflow-x: hidden;
}

p {
	padding: 0;
	margin: 0;
}

h1,
h2 {
	font-size: 1.2rem;
	padding: 0;
}

#demographics {
	display: flex;
	flex-wrap: wrap;
}

#tests {
	display: flex;
	flex-wrap: wrap;
}
